* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

form {
  margin: auto;
  width: 60%;
  box-shadow: 3px 3px 6px gray;
}

h1 {
  font-size: 3em;
  font-weight: 900 bold;
  color: black;
}

#header {
  display: flex;
  background-color: #c8b8a8;
  height: 30px;
  margin: 0px;
  align-items: center;
  padding: 10px;
  border: gray 1px solid;
  border-style: outset;
}

#form {
  background-color: #e4ddd7;
  border: gray 1px solid;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  padding-right: 10px;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1.3em;
  font-weight: bold;
}

.address {
  display: flex;
  width: 65%;
  flex-direction: column;
}

.code {
  display: flex;
}

.address input {
  width: 100%;
  margin: 1px;
}

fieldset {
  display: flex;
  margin: 30px;
  border-width: 0px;
}

ul {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 50% 50%;
}

input {
  width: 65%;
  height: 1.5em;
  padding: 1px 1px 0px 0px;
}

legend {
  font-size: 2em;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

.button {
  font-size: 1.5em;
  width: 8em;
  height: 1.8em;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  line-height: center;
  border: 1px;
  background-color: #c8b8a8;
}

.button:hover {
  border: red 5px;
  background-color: #aa9d90;
}
